<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">I am a certified auto technician.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-xs-12 text-center">
                    <img src="img/about/carter.jpeg" alt="Carter" style="width: 40%; height: 40%;">
                </div>
            </div>
            <div class="row" style="padding-top: 10px;">
                <div class="col-lg-12 col-xs-12 text-center">
                    <p>I was 16 when I did my first oil change. I was fascinated about engines and how they operate.
                        At age 21 I Attended Green River College majoring in Automotive Technology.
                        I graduated with my associates in applied science degree with highest honors.
                        Now I’m working in the industry as a professional Technician and one step closer to achieving my goal. </p>
                </div>
            </div>
            <div class="row" style="padding-top: 10px;">
                <div class="col-md-3"></div>
                <div class="col-md-2 col-xs-4 text-center">
                    <figure>
                        <a href="http://www.ase.com/Tests/ASE-Certification-Tests/Test-Series.aspx" target="_blank" title="Suspension and Steering">
                            <img src="img/about/aselogo.png" alt="ase certified" style="width: 80%; height: 80%;">
                        </a>
                    </figure>
                </div>
                <div class="col-md-2 col-xs-4 text-center">
                    <figure>
                        <a href="http://www.ase.com/Tests/ASE-Certification-Tests/Test-Series.aspx" target="_blank" title="Engine Repairs">
                            <img src="img/about/aselogo.png" alt="ase certified" style="width: 80%; height: 80%;">
                        </a>
                    </figure>
                </div>
                <div class="col-md-2 col-xs-4 text-center">
                    <figure>
                        <a href="http://www.ase.com/Tests/ASE-Certification-Tests/Test-Series.aspx" target="_blank" title="Brakes">
                            <img src="img/about/aselogo.png" alt="ase certified" style="width: 80%; height: 80%;">
                        </a>
                    </figure>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </section>