<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">Honest and quality auto service at a fair price.
                    </h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <!--<span class="fa-stack fa-4x">-->
                        <!--<i class="fa fa-circle fa-stack-2x text-primary"></i>-->
                        <!--<i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>-->
                    <!--</span>-->
                    <h4 class="service-heading">Brake / Suspension</h4>
                    <p class="text-muted">My brake/suspension services include brake pads and shoes,
                        rotors and drums, calipers, struts control arms, and other various components.</p>
                </div>
                <div class="col-md-4">
                    <!--<span class="fa-stack fa-4x">-->
                        <!--<i class="fa fa-circle fa-stack-2x text-primary"></i>-->
                        <!--<i class="fa fa-laptop fa-stack-1x fa-inverse"></i>-->
                    <!--</span>-->
                    <h4 class="service-heading">Tune ups</h4>
                    <p class="text-muted">Engine running rough? Tune up services include spark plugs and wires,
                        belts, filters, or any scheduled maintenance as per manufacture recommendations,</p>
                </div>
                <div class="col-md-4">
                    <!--<span class="fa-stack fa-4x">-->
                        <!--<i class="fa fa-circle fa-stack-2x text-primary"></i>-->
                        <!--<i class="fa fa-lock fa-stack-1x fa-inverse"></i>-->
                    <!--</span>-->
                    <h4 class="service-heading">General Maintenence</h4>
                    <p class="text-muted">General Maintenance services include cooling system components,
                        electrical components, engine components and other various components.</p>
                </div>
            </div>
        </div>
    </section>